.active-btn {
    background: #000;
    color: #fff;
}

.admin {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}

.admin__dashboard {
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
}

.dashboard__title.title {
    margin-bottom: 40px;
}

.dashboard__buttons {
    display: flex;
    max-width: 300px;
    gap: 12px;
    margin-bottom: 15px;
}

.dashboard__buttons-btn {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 5px 15px;
    font-weight: 700;
}

.dashboard__buttons-btn:hover {
    cursor: pointer;
    user-select: none;
}

.dashboard__list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    gap: 15px;
}

.dashboard__list-header h3 {
    font-size: 22px;
}

.list__header-search {
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid rgba(0, 0, 0, 0.452);
    border-radius: 40px;
    padding: 5px 16px;
}

.list__header-search img {
    width: 20px;
}

.list__header-search input {
    width: 100%;
}

.dashboard__list {
    overflow-x: auto;
    border-radius: 20px;
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.192);
    padding: 8px 20px;
    max-height: 500px;
}

.dashboard__table {
    width: 100%;
    white-space: nowrap;
    border-spacing: 0;
}

.dashboard__table th,
.dashboard__table td {
    padding: 7px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.397);
}

.dashboard__table td img {
    width: 23px;
    display: inline;
    margin: 5px;
    cursor: pointer;
}

.table__head th {
    text-align: start;
    text-transform: uppercase;
}

.admin__control {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 40px;
}

.control__new {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.281);
}

.control__title {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.control__title h2 {
    font-size: 28px;
    margin: 0;
}

.control__title img {
    width: 25px;
}

.control__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form__group {
    display: flex;
    flex-direction: column;
}

.form__group-label {
    margin-bottom: 12px;
}

.form__group-input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.575);
    padding: 8px 18px;
    border-radius: 30px;
    transition: all 0.2s;
}

.form__group-select {
    border: 1px solid rgba(0, 0, 0, 0.575);
    padding: 8px 18px;
    border-radius: 30px;
    appearance: none;
}

.form__group-new {
    display: flex;
    margin-top: 10px;
    gap: 12px;
}

.form__group-new input {
    max-width: 300px;
}

.form__group-new button {
    background-color: #3f3e3e;
    color: #fff;
    border-radius: 30px;
    padding: 4px 10px;
}

.form__group-textarea {
    border: 1px solid rgba(0, 0, 0, 0.575);
    padding: 8px 18px;
    border-radius: 13px;
    height: 100px;
}

.input-group {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.btn-primary {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.575);
    color: black;
    border-radius: 30px;
}

.btn-primary:hover {
    background-color: #3f3e3e;
    border: 1px solid rgba(0, 0, 0, 0.575);
}

.form__group-input:focus,
.form__group-select:focus,
.form__group-textarea:focus {
    box-shadow: 0 0 12px 3px #e0aa7a;
}

.input-group .form__group-input:focus {
    box-shadow: none;
}


.control__edit {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.281);
}

@media (max-width: 750px) {
    .admin__control {
        flex-direction: column;
    }
    .dashboard__title.title {
        font-size: 30px;
    }
    .dashboard__list-header h3 {
        font-size: 18px;
    }
}